.navigate {
    display: flex;
    background-color: #C4C4C4;
}

.logo {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    /* identical to box height */
    
    
    color: rgba(255, 255, 255, 0.9);
}