.navigate {
    display: flex;
    background-color: rgb(30, 37, 43);

    padding-top: 34px;
}

.logo {
    display: flex;
    justify-content: center;

    font-weight: 600;
    font-size: 22px;

    margin-right: 257px;

    
    color: rgba(255, 255, 255, 0.9);
    &__icon {
        padding-right: 12px;
    }
}

.main-nav {
    display: flex;

    font-size: 16px;
    line-height: 1.5;

    &__item:not(:last-child) {
        margin-right: 45px;
    }
}