.trust__title {
    text-align: center;
    
    margin-top: 55px;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.8);
}

.trust {
    display: flex;
    justify-content: space-around;

    &__link {
        display: block;
        padding: 55px 0;
        height: 100%;
    }
}