<section class="mission">
  <div class="container mission-container">
    <h2 class="mission__title viually-hidden">Company mission</h2>
    <ul class="mission-container__list">
      <li class="mission-container__iteam">
        <div class="mission-container__box-pic">
          <img class="mission-container__pic" src="./images/worker.png" alt="richards" />
          <div class="mission-container__about">
            <h3 class="mission-container__name">Ronald Richards</h3>
            <p class="mission-container__profession">Product Manager</p>
          </div>
        </div>
        <div class="mission-container__box-text">
          <p class="mission-container__text">
            Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit
            ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna
            officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
            Occaecat aute officia excepteur non laboris id qui ad.
          </p>
        </div>
      </li>
      <li class="mission-container__iteam">
        <div class="mission-container__box-pic">
          <img class="mission-container__pic" src="./images/worker.png" alt="richards" />
          <div class="mission-container__about">
            <h3 class="mission-container__name">Ronald Richards</h3>
            <p class="mission-container__profession">Product Manager</p>
          </div>
        </div>
        <div class="mission-container__box-text">
          <p class="mission-container__text">
            Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit
            ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna
            officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
            Occaecat aute officia excepteur non laboris id qui ad.
          </p>
        </div>
      </li>
      <li class="mission-container__iteam">
        <div class="mission-container__box-pic">
          <img class="mission-container__pic" src="./images/worker.png" alt="richards" />
        <div class="mission-container__about">
          <h3 class="mission-container__name">Ronald Richards</h3>
          <p class="mission-container__profession">Product Manager</p>
        </div>
        </div>
        <div class="mission-container__box-text">
          <p class="mission-container__text">
            Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit
            ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna
            officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
            Occaecat aute officia excepteur non laboris id qui ad.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
