<section>
  <h2>Company mission</h2>
  <ul>
    <li>
      <img src="" alt="" />
      <h3>Ronald Richards</h3>
      <p>Product Manager</p>
      <p>
        Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit
        ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna
        officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
        Occaecat aute officia excepteur non laboris id qui ad.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Ronald Richards</h3>
      <p>Product Manager</p>
      <p>
        Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit
        ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna
        officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
        Occaecat aute officia excepteur non laboris id qui ad.
      </p>
    </li>
    <li>
      <img src="" alt="" />
      <h3>Ronald Richards</h3>
      <p>Product Manager</p>
      <p>
        Incididunt cillum do sint sint enim ullamco id deserunt mollit qui reprehenderit do. Velit
        ex tempor cillum ad sint occaecat. Do nulla velit labore occaecat do deserunt Lorem magna
        officia incididunt consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
        Occaecat aute officia excepteur non laboris id qui ad.
      </p>
    </li>
  </ul>
</section>
