<footer>
  <a href="">antools.</a>
  <p>Copyright 2021. Antools</p>
  <p>Antool is a web collection of information on paid or free Design and Development tools</p>
  <ul>
    <li>
      <h3>Contact Us</h3>
      <ul>
        <li><a href="">+621987463</a></li>
        <li><a href="">M Building, No.10 A</a></li>
        <li><a href="">antools@awesome.com</a></li>
      </ul>
    </li>
    <li>
      <h3>Categories</h3>
      <ul>
        <li><a href="">Design</a></li>
        <li><a href="">Development</a></li>
      </ul>
    </li>
    <li>
      <h3>Company Info</h3>
      <ul>
        <li><a href="">About Us</a></li>
        <li><a href="">Our Partners</a></li>
        <li><a href="">Blog</a></li>
      </ul>
    </li>
  </ul>
</footer>
