<header class="header">
    <div class="container container-header">
        <nav class="navigate">
            <a href="" class="logo"><svg class="logo__icon" width=38 height=38>
                    <use href="images/symbol-defs.svg#icon-logo"></use>
                </svg>
                Antools.</a>
            <ul class="main-nav">
                <li class="main-nav__item"><a href="" class="main-nav__link">Home</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__link">Categories
                    <svg class="main-nav__icon" width=18 height=18>
                        <use href="images/symbol-defs.svg#chevron-down"></use>
                    </svg>
                </a> 
                </li>
                <li class="main-nav__item"><a href="" class="main-nav__link">My collections</a></li>
                <li class="main-nav__item"><a href="" class="main-nav__link">Blog</a></li>
            </ul>
            <ul class="login">
                <li class="login__item"><button type="button" class="login__button">Login</button></li>
                <li class="login__item"><button type="button" class="login__button">Sign Up</button></li>
            </ul>
        </nav>
    </div>
</header>