<header>
    <nav class="navigate">
        <a href="" class="logo"><svg width = 38 height = 38>
            <use href="images/symbol-defs.svg#icon-logo"></use>
        </svg>
    Antools.</a>
    <ul class="main-nav">
        <li class="main-nav__item"><a href="" class="main-nav__link">Home</a></li>
        <li class="main-nav__item"><a href="" class="main-nav__link">Categories</a></li>
        <li class="main-nav__item"><a href="" class="main-nav__link">Me collections</a></li>
        <li class="main-nav__item"><a href="" class="main-nav__link">Blog</a></li>
    </ul>
    <ul class="login">
        <li class="login_item"><button type="button" class="login_button">Login</button></li>
        <li class="login_item"><button type="button" class="login_button">Sign Up</button></li>
    </ul>
    </nav>
</header>