<section class="hero">
    <div class="container">
        <div class="hero-box">
            <h1 class="hero__title">Awesome tools for <br> Designer & Developer<span class="hero__title-span">.</span></h1>
            <p class="hero__text">Antool is a web collection of information on paid or <br> free Design and Development tools
            </p>
            <form class="hero-form">
                <svg class="hero-form__icone" width="24" height="24">
                    <use href="images/symbol-defs.svg#icon-search"></use>
                </svg>
                <input class="hero-form__input" type="text" placeholder="find more than 430+ tools..." />
                <button class="hero-form__btn" type="submit">Search</button>
            </form>
            <ul class="hero-list">
                <li class="hero-list__item">
                    <a class="hero-list__link" href="facebook">
                        <svg class="hero-list__icone" width="36" height="36">
                            <use href="images/symbol-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero-list__item">
                    <a class="hero-list__link" href="twitter">
                        <svg class="hero-list__icone" width="36" height="36">
                            <use href="images/symbol-defs.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="hero-list__item">
                    <a class="hero-list__link" href="instagram">
                        <svg class="hero-list__icone" width="36" height="36">
                            <use href="images/symbol-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="hero-fon">
                <img class="hero-fon__pic" src="./images/hero-fon.svg" alt="fon">
            </div>
        </div>
    </div>
    <!-- <a href="#" class="modal-link js-open-modal" data-modal="1">Открыть окно 1</a>
  <a href="#" class="modal-link js-open-modal" data-modal="2">Открыть окно 2</a> -->

</section>

<!-- <div class="modal" data-modal="1">
    Svg иконка для закрытия окна 
  <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
  </svg>
  <p class="modal__title">Заголовок окна 1</p>
</div>

<div class="modal" data-modal="2">
    Svg иконка для закрытия окна  -->
  <!-- <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
  </svg>
  <p class="modal__title">Заголовок окна 2</p>
</div> --> 
