<section>
    <h2>Newcomer Tools</h2>
    <p>Wow! see the latest update of the most recommended tools from reliable designers and developers</p>
    <button type="button">Explore more</button>
    <ul>
    <li>
        <h3>Zeplin</h3>
        <p>Free & Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button">Visit</button>
    </li>
    <li>
        <h3>PHPStorm</h3>
        <p>Free</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button">Visit</button>
    </li>
    <li>
        <h3>Toolbox</h3>
        <p>Free</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button">Visit</button>
    </li>
    <li>
        <h3>Procreate</h3>
        <p>Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button">Visit</button>
    </li>
    </ul>
    <!-- <a href="#" class="modal-link js-open-modal" data-modal="3">Открыть окно 3</a> -->
</section>

<!-- <div class="modal" data-modal="3">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
    </svg>
    <p class="modal__title">Заголовок окна 3</p>
</div> -->