<section class="newcomer-tools" >
        <div class="container">

        <div class="tools-flex">
            <div class="wrapper">
                <h2 class="section-title">Newcomer Tools</h2>
        <p class="section-text">Wow! see the latest update of the most recommended tools from reliable designers and developers</p>
        <button class="button" type="button">Explore more</button>
            </div>

        <ul class="tools-list">
        <li class="tools__item">
            <h3 class="tools__title">Zeplin</h3>
            <p class="tools__status">Free & Paid</p>
            <p class="tools__condition">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button">Visit</button>
        </li>
        <li class="tools__item">
            <h3 class="tools__title">PHPStorm</h3>
            <p class="tools__status">Free</p>
            <p class="tools__condition">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button class="button" type="button">Visit</button>
        </li>
        <li class="tools__item">
            <h3 class="tools__title">Toolbox</h3>
            <p class="tools__status">Free</p>
            <p class="tools__condition">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button">Visit</button>
        </li>
        <li class="tools__item">
            <h3 class="tools__title">Procreate</h3>
            <p class="tools__status">Paid</p>
            <p class="tools__condition">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button type="button">Visit</button>
        </li>
        </ul>
        </div>
    <!-- <a href="#" class="modal-link js-open-modal" data-modal="3">Открыть окно 3</a> -->
    </div>
</section>

<!-- <div class="modal" data-modal="3"> -->
    <!--   Svg иконка для закрытия окна  -->
    <!-- <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> -->
        <!-- <path -->
            <!-- d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" /> -->
    <!-- </svg> -->
    <!-- <p class="modal__title">Заголовок окна 3</p> -->
<!-- </div> -->