<section>
    <h2>Newcomer Tools</h2>
    <p>Wow! see the latest update of the most recommended tools from reliable designers and developers</p>
    <button type="button">Explore more</button>
    <ul>
    <li>
        <h3>Zeplin</h3>
        <p>Free & Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button">Visit</button>
    </li>
    <li>
        <h3>PHPStorm</h3>
        <p>Free</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button">Visit</button>
    </li>
    <li>
        <h3>Toolbox</h3>
        <p>Free</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button">Visit</button>
    </li>
    <li>
        <h3>Procreate</h3>
        <p>Paid</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button type="button">Visit</button>
    </li>
    </ul>
</section>