<section class="container">
  <h2 class="popular-tools__title">Most Popular Tools</h2>
  <p class="popular-tools__text">
    Tools for the best Designers and Developers<br />
    most popularly used in the world
  </p>
  <ul class="popular-tools__list">
    <li class="popular-tools-list__item">
      <a class="popular-tools-list__link" href="">
      <div class="popular-tools-list__container">
        <div class="popular-tools__header">
          <svg height="64px" widht="64px" class="popular-tools__logo">
            <use href="images/symbol-defs.svg#icon-grommet-figma"></use>
          </svg>
          <div>
            <h3 class="list-item__title">FIGMA</h3>
            <p class="list-item__text">Free</p>
          </div>
        </div>
        <p class="list-item__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <svg height="28px" widht="28px" class="popular-tools__icons">
          <use href="images/symbol-defs.svg#icon-icons-like"></use>
        </svg>
        <svg height="28px" widht="28px" class="popular-tools__icons">
          <use href="images/symbol-defs.svg#icon-folder-outline"></use>
        </svg>
        <button type="button" class="popular-tools__btn">Visit</button>
      </div>
      </a>
    </li>
    <li class="popular-tools-list__item">
      <a class="popular-tools-list__link" href="">
        <div class="popular-tools-list__container">
          <div class="popular-tools__header">
            <svg height="64px" widht="64px" class="popular-tools__logo">
              <use href="images/symbol-defs.svg#icon-sketch"></use>
            </svg>
            <div>
              <h3 class="list-item__title">Sketch</h3>
              <p class="list-item__text">Trial & Paid</p>
            </div>
          </div>
          <p class="list-item__discription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-icons-like"></use>
          </svg>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-folder-outline"></use>
          </svg>
          <button type="button" class="popular-tools__btn">Visit</button>
        </div>
      </a>
      
    </li>
    <li class="popular-tools-list__item">
      <a class="popular-tools-list__link" href="">
        <div class="popular-tools-list__container">
          <div class="popular-tools__header">
            <svg height="64px" widht="64px" class="popular-tools__logo">
              <use href="images/symbol-defs.svg#icon-visual-studio-code"></use>
            </svg>
            <div>
              <h3 class="list-item__title">Visual Studio Code</h3>
        
              <p class="list-item__text">Free</p>
            </div>
          </div>
          <p class="list-item__discription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-icons-like"></use>
          </svg>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-folder-outline"></use>
          </svg>
          <button type="button" class="popular-tools__btn">Visit</button>
        </div>
      </a>
      
    </li>
    <li class="popular-tools-list__item">
      <a class="popular-tools-list__link" href="">
        <div class="popular-tools-list__container">
          <div class="popular-tools__header">
            <svg height="64px" widht="64px" class="popular-tools__logo">
              <use href="images/symbol-defs.svg#icon-notion"></use>
            </svg>
            <div>
              <h3 class="list-item__title">Notion</h3>
        
              <p class="list-item__text">Free & Paid</p>
            </div>
          </div>
          <p class="list-item__discription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-icons-like"></use>
          </svg>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-folder-outline"></use>
          </svg>
          <button type="button" class="popular-tools__btn">Visit</button>
        </div>
      </a>
    </li>
    <li class="popular-tools-list__item">
      <a class="popular-tools-list__link" href="">
        <div class="popular-tools-list__container">
          <div class="popular-tools__header">
            <svg height="64px" widht="64px" class="popular-tools__logo">
              <use href="images/symbol-defs.svg#icon-grommet-slack"></use>
            </svg>
            <div>
              <h3 class="list-item__title">Slack</h3>
        
              <p class="list-item__text">Free & Paid</p>
            </div>
          </div>
          <p class="list-item__discription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-icons-like"></use>
          </svg>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-folder-outline"></use>
          </svg>
          <button type="button" class="popular-tools__btn">Visit</button>
        </div>
      </a>
      
    </li>
    <li class="popular-tools-list__item">
      <a class="popular-tools-list__link" href="">
        <div class="popular-tools-list__container">
          <div class="popular-tools__header">
            <svg height="64px" widht="64px" class="popular-tools__logo">
              <use href="images/symbol-defs.svg#icon-invision-icon"></use>
            </svg>
            <div>
              <h3 class="list-item__title">Invision</h3>
        
              <p class="list-item__text">Free & Paid</p>
            </div>
          </div>
          <p class="list-item__discription">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-icons-like"></use>
          </svg>
          <svg height="28px" widht="28px" class="popular-tools__icons">
            <use href="images/symbol-defs.svg#icon-folder-outline"></use>
          </svg>
          <button type="button" class="popular-tools__btn">Visit</button>
        </div>
      </a>
      
    </li>
  </ul>

  <button type="button" class="popular-tools__button">Load more</button>
</section>
