<section class="popular-tools__container">
  <h2 class="popular-tools__title">Most Popular Tools</h2>
  <p class="popular-tools__text">
    Tools for the best Designers and Developers<br />
    most popularly used in the world
  </p>
  <ul class="popular-tools__list">
    <li class="popular-tools-list__item">
      <div class="popular-tools-list__container">
        <h3 class="list-item__title">FIGMA</h3>
        <p class="list-item__text">Free</p>
        <p class="list-item__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <button type="button" class="popular-tools__btn">Visit</button>
      </div>
    </li>
    <li class="popular-tools-list__item">
      <div class="popular-tools-list__container">
        <h3 class="list-item__title">Sketch</h3>
        <p class="list-item__text">Trial & Paid</p>
        <p class="list-item__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <button type="button" class="popular-tools__btn">Visit</button>
      </div>
    </li>
    <li class="popular-tools-list__item">
      <div class="popular-tools-list__container">
        <h3 class="list-item__title">Visual Studio Code</h3>
        <p class="list-item__text">Free</p>
        <p class="list-item__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <button type="button" class="popular-tools__btn">Visit</button>
      </div>
    </li>
    <li class="popular-tools-list__item">
      <div class="popular-tools-list__container">
        <h3 class="list-item__title">Notion</h3>
        <p class="list-item__text">Free & Paid</p>
        <p class="list-item__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <button type="button" class="popular-tools__btn">Visit</button>
      </div>
    </li>
    <li class="popular-tools-list__item">
      <div class="popular-tools-list__container">
        <h3 class="list-item__title">Slack</h3>
        <p class="list-item__text">Free & Paid</p>
        <p class="list-item__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <button type="button" class="popular-tools__btn">Visit</button>
      </div>
    </li>
    <li class="popular-tools-list__item">
      <div class="popular-tools-list__container">
        <h3 class="list-item__title">Invision</h3>
        <p class="list-item__text">Free & Paid</p>
        <p class="list-item__discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <button type="button" class="popular-tools__btn">Visit</button>
      </div>
    </li>
  </ul>

  <button type="button" class="slider-previous-btn">prev</button>
  <button type="button" class="slider-next-btn">next</button>

  <button type="button" class="popular-tools__btn">Load more</button>


</section>
