<section>
    <h2>Most Popular Tools</h2>
    <p>Tools for the best Designers and Developers
        most popularly used in the world</p>
    <ul><li><h3>FIGMA</h3>
        <p>Free</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <button
        type="button">Visit</button>
    </li>
        <li><h3>Sketch</h3><p>Trial & Paid</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li><button
        type="button">Visit</button>
        <li><h3>Visual Studio Code</h3><p>Free</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li><button
        type="button">Visit</button>
        <li><h3>Notion</h3><p>Free & Paid</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><button
        type="button">Visit</button></li>
        <li><h3>Slack</h3><p>Free & Paid</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><button
        type="button">Visit</button></li>
        <li><h3>Invision</h3><p>Free & Paid</p><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><button
        type="button">Visit</button></li>
    </ul>
    <button type="button">Load more</button>
</section>