<section class="container container-trust">
  <h3 class="trust__title">Trusted more than 150+ brand</h3>
  <ul class="trust">
    <li class="trust__item">
      <a class="trust__link" href=""
        ><svg width="193" height="42"><use href="images/symbol-defs.svg#icon-microsoft"></use></svg
      ></a>
    </li>

    <li class="trust__item">
      <a class="trust__link" href=""
        ><svg width="193" height="42"><use href="images/symbol-defs.svg#icon-google"></use></svg
      ></a>
    </li>
    <li class="trust__item">
      <a class="trust__link" href=""
        ><svg width="193" height="42"><use href="images/symbol-defs.svg#icon-slack"></use></svg
      ></a>
    </li>
    <li class="trust__item"></li>
      <a class="trust__link" href=""
        ><svg width="193" height="42">
          <use href="images/symbol-defs.svg#icon-wordpress-1"></use></svg
      ></a>
    </li>
  </ul>
</section>
